@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: #f4f1ec;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #e5ddce;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 15px 5px #a07f8871;
    position: sticky;
    top: 0;
}

.main-header h1 {
    color: #a07f88;
    font-family: 'Dancing Script', cursive;
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

ul li {
    display: inline;
    list-style-type: none;
    color: #625f5e;
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 0.5px solid #625f5e;
    border-radius: 0.3rem;
}

ul li,
.more_button a {
    font-family: 'Gloria Hallelujah', cursive;
}

ul li:hover {
    box-shadow: inset 5px 5px 15px 5px rgba(160, 127, 136, 0.39);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title {
    margin-left: 5rem;
    font-size: 1.5rem;
    color: #625f5e;
    margin-bottom: 0.5rem;
}

.title h2 {
    font-family: 'Architects Daughter', cursive;
}

section {
    display: flex;
    justify-content: center;
}



.quote,
.quote2,
.quote3 {
    border: 1px solid #a07f88;
    box-shadow: 5px 5px 15px 5px #a07f8871;
    border-radius: 1rem;
    margin-top: 3rem;
    max-width: fit-content;
    padding: 2rem;
    font-size: 1.2rem;
}

p {
    line-height: 2rem;
    font-family: 'Kalam', cursive;
}

.quote,
.quote3 {
    background-color: #ecd7d2;
}

.quote2 {
    background-color: #c69c96;
}

.cit {
    float: right;
    font-style: italic;
    font-size: 0.9rem;
}

.button_container {
    display: flex;
    justify-content: right;
    margin-top: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.more_button {
    padding: 1rem;
    border: 1px solid #a07f88;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px 5px #a07f8871;
    ;
}

.more_button:hover {
    cursor: pointer;
    box-shadow: inset 5px 5px 15px 5px rgba(160,127,136,0.6);

}

.more_button a {
    text-decoration: none;
    color: #625F5E;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #e5ddce;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 1rem;
    box-shadow: -5px -5px 15px 5px rgba(160,127,136,0.6);
}

.footer h3,
.footer p {
    color: #a07f88;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}